
.forgot-password-box .forgot-password-title{
    color: #464646;
    text-align: center;
}

.forgot-password-box .return-btn{
    position: absolute;
    left: 50%;
    bottom: 88px;
    transform: translateX(-50%);
}

.forgot-password-box .send-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}